.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  display: flex;
  justify-content: center;
  border: solid black;  
}

main{
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

footer{
  display: flex;
  border: solid black;
  height: 50px;
  justify-content: center;
}
